.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
}


.title{
    color: #6278F7;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: #6278F7 solid 4px;
    position: center;
}

.box{
    width: 930px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20%;

}

.orgSection img{
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .title{
        font-size: 2.5rem;
    }
  
}
@media only screen and (max-width: 600px) {
    .box{
        flex-direction: column-reverse;
        gap: 30px;
        padding-top: 50px;
    }
}
